<input
  type="file"
  class="file-input"
  (change)="onFileSelected($event)"
  #fileUpload
/>

<div class="file-upload">
  {{ fileName || "No file uploaded yet." }}

  <button
    mat-mini-fab
    color="primary"
    class="upload-btn"
    (click)="fileUpload.click()"
  >
    <mat-icon>attach_file</mat-icon>
  </button>

  <ul>
    <li
      *ngFor="let element of variables"
      [ngClass]="{ highlight: isHighlightable(element.type) }"
    >
      {{
        element.type +
          " " +
          element.name +
          " (default value: " +
          element.defaultValue +
          ")"
      }}
    </li>
  </ul>
</div>
